body {
    background-image : url(/assets/Thresh_0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

h1 {
    color: #98ee99;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.goal-met {
    color: black;
    background-color: #1de9b6;
}

.goal-almost-met {
    color: black;
    background-color: #FFAA20;
}

.goal-failed {
    color: black;
    background-color: #FB1F46;
}

.standard-item {
    color: black;
    background-color: #78909c;
}

.card {
    border-width: 0;
}