body {
    background-image : url(/assets/Thresh_0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

h1 {
    color: #98ee99;
}

#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.goal-met {
    color: black;
    background-color: #1de9b6;
}

.goal-almost-met {
    color: black;
    background-color: #FFAA20;
}

.goal-failed {
    color: black;
    background-color: #FB1F46;
}

.standard-item {
    color: black;
    background-color: #78909c;
}

.card {
    border-width: 0;
    background-color: #78909c;
}

.lp-graph {
    width: 60%;
    margin: 1rem;
    background-color: #78909c;
}

.tab-btn-selected, .tab-btn-selected:active, .tab-btn-selected:focus, .tab-btn-selected:hover {
    color: black;
    background-color: #1de9b6;
    border: none;
}

.tab-btn:focus {
    box-shadow: none;
}

.tab-btn:hover {
    color: black;
    box-shadow: 0 0 0 0.25rem rgba(35, 204, 139, 0.5);
}

.tab-btn-not-selected, .tab-btn-not-selected:active, .tab-btn-not-selected:hover, .tab-btn-not-selected:focus {
    color: black;
    background-color: rgba(29, 233, 182, 0.75);
    border: none;
}